@model AboCafes.Common.Entities.Producto

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantidadKN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantidadKN)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantidadKP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantidadKP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CantidadKF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CantidadKF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Menores)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Menores)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>
