@model IEnumerable<AboCafes.Common.Entities.Producto>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<br />

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Agregar Nuevo</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Productos </h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Detalle)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CantidadKN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CantidadKP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CantidadKF)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Menores)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Detalle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CantidadKN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CantidadKP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CantidadKF)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Menores)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>